<h1>Listing races</h1>
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.date %></td>
        <td><%= race.name %></td>
        <td><%= race.city %></td>
        <td><%= link_to 'Show', race %></td>
        <td><%= link_to 'Edit', edit_race_path(race) %></td>
        <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<h3> Import Races</h3>
<%= form_tag import_races_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Upload Races" %>
<% end %>

<%= link_to 'New Race', new_race_path %>
